:root{
    --btn-color: rgb(143, 165, 254);
    font-size: 62.5%;
  }

body{
    font-family: 'Sniglet', sans-serif;
    
    background-image: url(../img/imgs-turminha/Bg_cidade.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 100vh;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding-top: 5.0rem;
}

.cabecalho .titulo {
    color: #fff;
    letter-spacing: 0.2rem;
}

.cabecalho .logoDaTurminha{
    width: 5.5rem;
    height: 5.5rem;
}

.personagem-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8.0rem;
    margin: 4.0rem 0;
}

.lista-personagens{    
    width: 31.0rem;
    height: 52.0rem;

    position: relative;
}

.btn-seta{
    background-color: #f1ecff;
    width: 7.0rem;
    height: 7.0rem;
    border-radius: 5.0rem;
    border: 0;
    cursor: pointer;
    
    transition: background-color 0.2s ease-in-out;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
}

.btn-seta.btn-voltar{
    transform: rotateY(180deg); 
}

.btn-seta:hover{
    background-color: #44c8f4;
}

.cartao{
    opacity: 0;
    background-color: blueviolet;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;

    padding: 1.2rem;

    border-radius: 1.0rem;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    transition: opacity 0.3s ease-in-out;
}

.cartao.selecionado{
    opacity: 1;
    z-index: 1;
}

.fundo-1{
    background: url(../img/imgs-turminha/bg_Fael.jpg)
    no-repeat;
}

.fundo-2{
    background: url(../img/imgs-turminha/bg_Lapisteco.jpg)
    no-repeat;
}

.fundo-3{
    background: url(../img/imgs-turminha/bg_trapi.jpg)
    no-repeat;
}

.fundo-4{
    background: url(../img/imgs-turminha/bg_Leleco.jpg)
    no-repeat;
}

.fundo-5{
    background: url(../img/imgs-turminha/bg_Corujilda.jpg)
    no-repeat;
}

.fundo-6{
    background: url(../img/imgs-turminha/bg_Trequinho.jpg)
    no-repeat;
}

.fundo-7{
    background: url(../img/imgs-turminha/bg_TriqueTriq.jpg)
    no-repeat;
}

.fundo-8{
    background: url(../img/imgs-turminha/bg_Morceguildo.jpg)
    no-repeat;
}

.fundo-9{
    background: url(../img/imgs-turminha/bg_Rabuginha.jpg)
    no-repeat;
}

.fundo-10{
    background: url(../img/imgs-turminha/bg_letrinhas.png)
    no-repeat;
}

.cartao .informacoes{
    background-color:rgba(179, 177, 185, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;

    
    padding: 0.8rem 1.0rem;
    border-top-left-radius: 1.0rem;
    border-top-right-radius: 1.0rem;
}

.cartao .informacoes .nome{
    color: #3F51B5;
    font-size: 2.2rem;
    letter-spacing: 0.1rem;
}

.cartao .informacoes {
    background-color: rgb(255 255 255 / 70%);
    color: #f1ecff;
    padding: 0.6rem 1.0rem;
    border-radius: 2.0rem;
}

.container-imagem{
    text-align: center;
}

.cartao .imagem-personagem{
    max-width: 100%;
    max-height: 28.0rem;
    padding: 2.0rem;
}

.cartao .descricao{
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom-left-radius: 1.0rem;
    border-bottom-right-radius: 1.0rem;
}

.cartao .descricao .titulo{
    background-color: #3F51B5;
    color: #f1ecff; 
    font-size: 1.5rem;
    padding: 1.2rem;
    letter-spacing: 0.2rem;
}

.cartao .descricao .texto {
    font-size: 1.4rem;
    padding: 1.2rem;

    text-align: left;
    max-height: 11.5rem;
    overflow-y: auto;
}
